* {
    box-sizing: border-box;
}

/*5. Для body установить шрифт по умолчанию, его размер и цвет,
скачать можно Google fonts*/
body {

    /*Базовый шрифт и размер, скачать и ссылку поставить перед css файлом*/
    font-family: 'Roboto', sans-serif;

    /*Про размеры шрифтов https://learn.javascript.ru/css-units*/
    font-size: 18px;
    color: #000;

    /*Обнулить отступы для body, но на внутрение элементы это не влияет*/
    padding: 0;
    margin: 0;

    /*  Цвет фона*/
    background: #FCFDFC;
}

.container {
    width: 1072px;
    margin: 0 auto;

    /* Границы блоков */
    /*border: 1px solid #000;*/
}

ul, li, h1, h2 {
    /*Блочные свойства и обнуление отступов браузеров - делать по умолчанию для любой верстки*/
    display: block;
    margin: 0;
    padding: 0;
}

li {
    /*Убрать маркеры (точки) со списков в меню*/
    list-style-type: none;
}

h1 {
    /*position: absolute;*/
    width: 1071px;
    height: 66px;
    left: 184px;
    top: 109px;

    font-family: 'Circe';
    font-style: normal;
    font-weight: 800;
    font-size: 44px;
    line-height: 66px;

    color: #000000;
    text-align: center;
    margin-top: 29px;
    margin-bottom: 40px;
}

h2 {
    width: 297px;
    height: 32px;
    left: 184px;
    top: 215px;

    font-family: 'Circe';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;

    color: #000000;
}

/*меню*/
.menu {
    margin-bottom: 25px;
    margin-top: 25px;
}

/*Стилизуем меню по БЭМ*/
a {
    /*Убрать стиль ссылок*/
    text-decoration: none;
    /*Цвет текста ссылок*/
    color: #000;
}

.nav, .menu {
    display: flex;
    /*  Горизональное выравнивание по центру*/
    align-items: center;
}

/*Блок*/
.menu {
    /*  Растянуть блок*/
    width: 100%;
    /*растягиваем в разные стороны*/
    justify-content: space-between;
}

/*Делаем расстояние от логотипа в право*/
img {
    margin-right: 33px;
}

.background {
    position: absolute;
    width: 118px;
    height: 118px;
    left: 524px;
    top: 104px;
}

.background1 {
    position: absolute;
    width: 152px;
    height: 139px;
    left: 1204px;
    top: 108px;
}

.nav {
    margin-bottom: 29px;
    margin-top: 18px;
}

/*Активация при наведении на ссылку*/
/*hover - при наведении мышки*/
.menu__item_active:hover {
    /*появляется подчеркивание*/
    border-bottom: 2px solid #2266DA;
    /* и перекрашивается цвет*/
    color: #2266DA;
}

/*Делаем таблицу*/
th, td {
    /*  Обводка ячеек*/
    border: 1px solid #2575FC;
}

/*таблица*/
table {
    width: 505px;
    height: 495px;
    /*Убрать промежутки между обводками*/
    border-collapse: collapse;
    /*  Растягиваем таблицу на ширину блока container*/
    /*width: 100%;*/
    /*  Тень таблицы*/
    box-shadow: 3px 5px 5px rgba(34, 102, 218, 0.2);
    /* Отступаем от заголовка*/
    margin-top: 15px;
    /*Отступ вниз*/
    margin-bottom: 105px;
}

/*верхняя строка*/
thead {
    /*Красим верхнюю строку таблицы и шрифт*/
    background: #2575FC;
    color: #FFF;
    /*сдвиг текста верней строки налево*/
    text-align: left;
    /*размер шрифта текста*/
}

/*тело таблицы*/
tbody {
    background: #F0F2F5;
}

.td {
    /*  Отступы в ячейках*/
    padding: 37px 0 15px 15px;
(верх право низ лево) font-size: 18 px;
}


.field {
    /*Размеры кнопки*/
    width: 300px;
    height: 54px;

    /*Убрать подчеркивание ссылки*/
    text-decoration: none;

    /*Граница вокруг кнопки*/
    border: 1px solid #000;
    border-radius: 500px;

    /*Расстояние от текста до гарницы*/
    padding: 15px 25px;

    /*Сделать текст в верхнем регистре и цвет и стиль*/
    color: #757575;
    font-weight: 400;
    line-height: 22px;
    font-size: 15px;

    /*Задаем свойство блоков ссылкам (кнопкам)*/
    display: block;

    /*Фон кнопки*/
    background: #FCFDFC;
    opacity: 0.9;

    /*Тень для кнопки*/
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.05);
}

/*Убрать для select спец эффекты по умолчанию*/
input:focus,
select:focus, .form-control:focus,
textarea:focus,
button:focus {
    outline: none !important;
    box-shadow: none !important;
}

.field-select {
    /*Размеры кнопки*/
    width: 180px;
    height: 54px;

    /*Убрать подчеркивание ссылки*/
    text-decoration: none;

    /*Граница вокруг кнопки*/
    border: 1px solid #2575FC;
    border-radius: 10px;

    /*Расстояние от текста до гарницы*/
    padding: 5px 15px;

    /*Сделать текст в верхнем регистре и цвет и стиль*/
    color: #757575;
    font-weight: 400;
    line-height: 22px;
    font-size: 15px;

    /*Задаем свойство блоков ссылкам (кнопкам)*/
    display: block;

    /*Фон кнопки*/
    background: #FCFDFC;
    opacity: 0.9;

    /*Тень для кнопки*/
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.05);
}

.btn {
    /*  Размеры кнопки*/
    width: 488px;
    height: 54px;

    /*  Убрать подчеркивание ссылки*/
    text-decoration: none;

    /*Граница вокруг кнопки толщина и цвет*/
    border: 1px solid #FF3300;

    /*Закругление формы кнопки*/
    border-radius: 500px;

    /*Расстояние от текста до границы*/
    padding: 14px 0;

    /*Сделать текст в верхнем регистре, цвет и стиль*/
    text-transform: uppercase;
    color: #FF3300;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;

    /*выравнивание текста и его размера*/
    text-align: center;

    /*Задаем свойство блоков ссылкам кнопкам*/
    display: block;

    /* Оттолкнем нижние кнопки от верхних*/
    margin-bottom: 25px;

    /* Фон кнопки*/
    background: #FCFDFC;
    opacity: 0.9;

    /*  Тень для кнопки */
    box-shadow: 3px 5px 5px rgba(255, 51, 0, 0.2);

    margin-left: 40px;
    /*margin-top: 17px;*/
}

.buttons {
    /*Свойства для родителя блочных элементов для выравнивания*/
    display: flex;

    /*Свойство по раздвижению кнопок*/
    /*https://developer.mozilla.org/ru/docs/Web/CSS/justify-content*/

    /*  Ширина зоны с кнопками*/
    /*with: 1014px;*/

    /*  Растянуть контент по краям*/
    /*Justify-Content:space-between;*/

    /* Отступ заголовка до кнопок*/
    margin-top: 15px;
}

/*Активация при наведении на кнопки*/
/*Правильно сделать btn_active*/
.btn:hover {
    /*Красим фон*/
    background: #FF3300;
    /*  Делаем прозрачность*/
    opacity: 0.9;
    /*  перекрашиваем шрифт что бы был виден*/
    color: #FFF;
    /*  Делаем тень*/
    box-shadow: 3px 5px 5px rgba(255, 51, 0, 0.6);
}


.mt30 {
    margin-top: 30px;
    margin-left: 30px;
}

.li3 {
    width: 151px;
    height: 29px;
    /*left: 729px;*/
    /*top: 413px;*/
    position: center;
    font-family: 'Circe';
    font-style: normal;
    font-weight: 350;
    font-size: 18px;
    line-height: 29px;
    color: #000000;
    margin-right: 80px;
}

/*блок*/
.li4 {
    box-sizing: border-box;
    width: 190px;
    height: 29px;
    background: #F0F2F5;
    border: 1px solid #2266DA;
    margin-right: 20px;
}

/*текст в блоке*/
.txt {
    width: 84px;
    height: 28px;
    /*left: 11px;*/
    /*top: 1px;*/
    font-family: 'Circe';
    font-style: normal;
    font-weight: 350;
    font-size: 19px;
    line-height: 28px;
    color: #000000;
    padding-left: 5px;
}

/*синий кубик*/
.check__item {
    position: absolute;
    width: 29px;
    height: 29px;
    top: 223px;
    margin-left: 155px;
    margin-bottom: 35px;
    background: #2575FC;
    border: 1px solid #2266DA;
}

/*красная кнопка*/
.text {
    width: 145px;
    height: 29px;
    font-family: 'Circe';
    font-style: normal;
    font-size: 14px;
    text-align: center;
    line-height: 21px;
    color: #FF3300;

    /*Граница вокруг кнопки толщина и цвет*/
    border: 1px solid #FF3300;
    /*Расстояние от текста до границы*/
    padding: 14px 0;
    /*Закругление формы кнопки*/
    border-radius: 500px;
    /*выравниваем текст по центру*/
    appearance: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.text:hover {
    /*  перекрашиваем шрифт что бы был виден*/
    color: #FFF;
    /*Красим фон*/
    background: #FF3300;
    /*  Делаем прозрачность*/
    opacity: 0.9;
    /*  Делаем тень*/
    box-shadow: 3px 5px 5px rgba(255, 51, 0, 0.6);
}

.li6 {
    /*margin-left: 20px;*/
    margin-top: 40px;
    /*margin-bottom: 20px;*/
}

.but {
    /*box-sizing: border-box;*/
    width: 566px;
    height: 149px;
    top: 413px;
}

.bot {
    /*display: flex;*/
    /*  Горизональное выравнивание по центру*/
    align-items: center;
    width: 100%;
    justify-content: center;
    appearance: none;
    display: inline-flex;
}

.df {
    display: flex;
}

.mr30 {
    margin-right: 30px;
}

.jcsb {
    justify-content: space-between;
}

.term {
    /*  Размеры кнопки*/
    width: 208px;
    height: 44px;

    /*  Убрать подчеркивание ссылки*/
    text-decoration: none;

    /*Граница вокруг кнопки толщина и цвет*/
    border: 1px solid #FF3300;

    /*Закругление формы кнопки*/
    border-radius: 500px;


}

